# Ignorowanie folderów
TaskHub/migrations/
.github/

# Ignorowanie plików Visual Studio
.vs/
.idea/

# Ignorowanie plików build, bin, obj
/bin/
/obj/

# Ignorowanie plików systemowych
Thumbs.db
.DS_Store
