
# Ignorowanie folderów
TaskHub/migrations/
.github/

# Ignorowanie plików Visual Studio
.vs/
.idea/

# Ignorowanie plików build, bin, obj
**/bin/
**/obj/

# Ignorowanie plików systemowych
Thumbs.db
.DS_Store

# Ignorowanie Angulara i Node.js
node_modules/
dist/
out-tsc/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
yarn.lock
.angular/
