<p>registration works!</p>
<div>
    <form (ngSubmit)="creatAccount(newUser)">
        <label for="username">Username:</label>  
        <input type="text" name="username" [(ngModel)]="newUser.username">
        <br>
        <label for="password">Password:</label>
        <input type="text" name="password" [(ngModel)]="newUser.password">
        <br>
        <label for="role">Role:</label>
        <input type="text" name="role" [(ngModel)]="newUser.role">
        <br>
        <button type="submit">Create user</button>
      </form>
    </div>